nav {
  background-color: #f8f8f8; }

body,
html {
  width: 100%;
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-bottom: 0; }

.topnav {
  font-size: 14px; }

.lead {
  font-size: 18px;
  font-weight: 400; }

.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background-image: url(../images/culture.jpg);
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.intro-header:before {
  position: absolute;
  display: block;
  content: ' ';
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%; }

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em; }

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%; }
  .intro-message > h1 {
    font-size: 3em; }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0; }
  .intro-divider {
    width: 100%; } }

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px; }

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8; }

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.section-heading {
  margin-bottom: 30px; }

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7; }

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../images/banner-bg.jpg) no-repeat center center;
  background-size: cover; }

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em; }

.banner ul {
  margin-bottom: 0; }

.banner-social-buttons {
  float: right;
  margin-top: 0; }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px; } }

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em; }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0; } }

footer {
  padding: 50px 0;
  background-color: #f8f8f8; }

p.copyright {
  margin: 15px 0 0; }

body {
  background: white; }

@font-face {
  font-family: 'habibiregular';
  src: url("../font/habibi-regular-webfont.eot");
  src: url("../font/habibi-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/habibi-regular-webfont.woff2") format("woff2"), url("../font/habibi-regular-webfont.woff") format("woff"), url("../font/habibi-regular-webfont.ttf") format("truetype"), url("../font/habibi-regular-webfont.svg#habibiregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.image {
  width: 200px !important;
  height: 120px !important;
  margin-left: 44% !important; }

h4 {
  text-align: center; }

h5 {
  text-align: center; }

.row .col.m6 {
  width: 20%;
  margin-left: 40%; }

.person {
  margin-left: 100px; }

.roundImg {
  height: 150px;
  width: 150px; }

.button {
  margin-left: 35%; }

table {
  width: 50% !important;
  margin-left: 29%; }

.logo {
  height: 30px;
  margin-top: 15px;
  float: left; }

nav + * {
  margin-top: 100px; }

nav + .container {
  margin-top: 60px; }

.form {
  width: 70% !important;
  margin-left: 15% !important; }

.form1 {
  width: 70% !important;
  margin-left: 20% !important; }

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 24px;
  font-size: 18px; }

.Next {
  margin-left: 30%;
  margin-bottom: 30px; }

.account {
  margin-left: 47%; }

.belowAccount {
  margin-left: 42%; }

.image2 {
  width: 170px !important;
  height: 60px !important;
  margin-left: 45% !important; }

.navbar-brand {
  height: 64px;
  padding: 20px 20px;
  font-size: 26px; }

.card .card-image .card-title {
  width: 48%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  background: #008994;
  padding: 10px 20px 15px 20px; }

.card .card-action {
  text-align: center;
  padding: 20px 40px; }

.profile-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  padding-bottom: 100px; }

.profile-bg {
  background-image: url("../images/ben_background.jpg");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 400px;
  width: 100%; }

.profile-block {
  display: block !important;
  position: relative; }

.profile-button {
  width: 80px;
  position: absolute;
  bottom: -35px;
  right: 10px; }

.badge-profile-info .profile-avatarLink {
  position: relative; }

.badge-profile-info .profile-avatarImg {
  height: 150px;
  width: 150px; }

.badge-panel {
  position: relative; }

.badge-button img {
  max-width: 100%; }

.card .card-action a {
  color: rgba(217, 127, 69, 0.7);
  font-weight: 700;
  text-shadow: 0px 0px 0px #d97f45; }

.card .card-action a:hover:not(.btn):not(.btn-large):not(.btn-floating) {
  color: rgba(217, 127, 69, 0.7);
  font-weight: 700;
  text-shadow: 0px 0px 0px rgba(217, 127, 69, 0.7); }

.chip {
  font-size: 28px;
  height: 46px;
  line-height: 46px;
  padding: 0 25px;
  border-radius: 23px;
  color: #fff;
  background-color: #d97f45; }

.languages {
  margin-top: 15px;
  margin-bottom: 15px; }

.chip img {
  margin: -10px 5px 0 -25px;
  height: 64px;
  width: 64px;
  border: 3px solid #fff; }

.badge-button {
  width: 100px;
  position: absolute;
  top: -50px;
  right: -50px; }

.profile-StatValue img {
  display: block; }

.matches-button {
  width: 200px;
  text-align: right;
  position: absolute;
  top: -25px;
  right: -25px; }

.profile-info {
  position: relative; }

.profile-button img {
  width: 100%; }

.profile-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -70px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom; }

.profile-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 114px;
  width: 114px; }

.profile-divUser {
  margin: 5px 0 0;
  margin-top: 25px; }

.profile-divName {
  font-size: 26px;
  font-weight: 700;
  line-height: 21px; }

.profile-divName a {
  color: inherit !important; }

.profile-divStats {
  margin-left: 11px;
  padding: 10px 0;
  margin-top: 80px; }

.profile-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto; }

ul.profile-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

.profile-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
  width: 30%;
  padding: 0 20px; }

.profile-ArrangeSizeFit a:hover {
  text-decoration: none; }

.profile-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s; }

.profile-StatLabel {
  color: #8899a6;
  font-size: 18px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
  margin-bottom: 10px; }

.profile-StatValue li {
  font-size: 16px;
  color: #555; }

.logo-dot {
  color: #009668;
  margin: 0 -0.5em; }

.card .card-image img {
  display: inline-block; }
