 .United_Airlines{
 	background: url('../images/airlineslist.png') no-repeat -605px -407px;
	width: 119px;
	height: 25px;
	}
 
 .Air_India{
	background: url('../images/airlineslist.png') no-repeat -8px -752px;
	width: 110px;
	height: 30px;
 }
 .Emirates{
	background: url('../images/airlineslist.png') no-repeat -240px -460px;
	width: 100px;
	height: 25px;
 }

 .British_Airways{
 	background: url('../images/airlineslist.png') no-repeat -125px -494px;
	width: 113px;
	height: 25px;
 }

 .Etihad_Airways{
 	background: url('../images/airlineslist.png') no-repeat -259px -546px;
	width: 100px;
	height: 22px;
 }

 .Jet_Airways{
 	background: url('../images/airlineslist.png') no-repeat -369px -144px;
	width: 108px;
	height: 20px;
 }
 
 .American_Airlines{
 	background: url('../images/airlineslist.png') no-repeat -121px -230px;
	width: 119px;
	height: 22px;
 }

 .Lufthansa{
 	background: url('../images/airlineslist.png') no-repeat -364px -576px;
	width: 120px;
	height: 25px;
 }
 
 .Qatar_Airways{
	background: url('../images/airlineslist.png') no-repeat -487px -356px;
	width: 115px;
	height: 25px;
 }
 .Cathay_Pacific{
 	background: url('../images/airlineslist.png') no-repeat -130px -669px;
	width: 115px;
	height: 25px;
 }

 .Air_France{
 	background: url('../images/airlineslist.png') no-repeat 0 -720px;
	width: 117px;
	height: 16px;
 }

 .Singapore_Airlines{
background: url('../images/airlineslist.png') no-repeat -482px -709px;
	width: 121px;
	height: 27px;
 }

 .Virgin_Atlantic{
background: url('../images/airlineslist.png') no-repeat -608px -545px;
	width: 115px;
	height: 30px;
 }

 .All_Nippon_Airways {
 	background: url('../images/airlineslist.png') no-repeat -124px -180px;
	width: 100px;
	height: 25px;
 }

 .Air_Canada{
 	background: url('../images/airlineslist.png') no-repeat -6px -494px;
	width: 115px;
	height: 25px;
 }
 .Turkish_Airlines{
background: url('../images/airlineslist.png') no-repeat -622px -360px;
	width: 89px;
	height: 25px;
 }
 .KLM{
background: url('../images/airlineslist.png') no-repeat -369px -269px;
	width: 107px;
	height: 25px;
 }
 .Swiss_International_Air_Lines{
 	background: url('../images/airlineslist.png') no-repeat -605px -48px;
	width: 119px;
	height: 33px;
 }
 .Air_China{
 	background: url('../images/airlineslist.png') no-repeat 0 -531px;
	width: 120px;
	height: 25px;
 }
 .Saudi_Arabian_Airlines{
 	background: url('../images/airlineslist.png') no-repeat -497px -581px;
	width: 116px;
	height: 25px;
 }
 .Japan_Airlines{
 	background: url('../images/airlineslist.png') no-repeat -370px -98px;
	width: 108px;
	height: 25px;
 }

.Asiana_Airlines{
	background: url('../images/airlineslist.png') no-repeat -132px -326px;
	width: 100px;
	height: 25px;
}
.Korean_Air{
	background: url('../images/airlineslist.png') no-repeat -360px -321px;
	width: 100px;
	height: 25px;
}
.China_Eastern_Airlines{
	background: url('../images/airlineslist.png') no-repeat -131px -799px;
	width: 103px;
	height: 25px;
}
.Aeroflot{
	background: url('../images/airlineslist.png') no-repeat -6px -143px;
	width: 109px;
	height: 25px;
}
.Kuwait_Airways{
	background: url('../images/airlineslist.png') no-repeat -376px -355px;
	width: 100px;
	height: 25px;
}
.Ethiopian_Airlines{
	background: url('../images/airlineslist.png') no-repeat -246px -491px;
	width: 100px;
	height: 25px;
}
.China_Airlines{
	background: url('../images/airlineslist.png') no-repeat -125px -759px;
	width: 113px;
	height: 25px;
}
.Austrian_Airlines{
	background: url('../images/airlineslist.png') no-repeat -126px -352px;
	width: 100px;
	height: 25px;
}
.Brussels_Airline{
	background: url('../images/airlineslist.png') no-repeat -492px -762px;
	width: 100px;
	height: 25px;
}
.Israel_Airlines{
	background: url('../images/airlineslist.png') no-repeat -246px -405px;
	width: 113px;
	height: 25px;
}
.Finnair{
	background: url('../images/airlineslist.png') no-repeat -250px -675px;
	width: 107px;
	height: 25px;
}
.Transaero{
	background: url('../images/airlineslist.png') no-repeat -120px -276px;
	width: 113px;
	height: 17px;
}
.EgyptAir{
	background: url('../images/airlineslist.png') no-repeat -241px -353px;
	width: 120px;
	height: 25px;
}
.Uzbekistan_Airways{
	background: url('../images/airlineslist.png') no-repeat -612px -927px;
	width: 111px;
	height: 30px;
}