body {
    background: white;
}
@font-face {
    font-family: 'habibiregular';
    src: url('../font/habibi-regular-webfont.eot');
    src: url('../font/habibi-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/habibi-regular-webfont.woff2') format('woff2'), url('../font/habibi-regular-webfont.woff') format('woff'), url('../font/habibi-regular-webfont.ttf') format('truetype'), url('../font/habibi-regular-webfont.svg#habibiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.image{
    width: 200px !important;
    height: 120px !important;
    margin-left: 44% !important;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
.row .col.m6 {
    width: 20%;
    margin-left: 40%;
}
.person{
    margin-left: 100px;
}
.roundImg{
    height: 150px;
    width: 150px;
}
.button{
    margin-left: 35%;
}
table {
    width: 50% !important;
    margin-left: 29%;
}
.logo{
    height: 40px;
    width: 90px;
    margin-top: 10px !important;
}
.form{
    width: 70% !important;
    margin-left: 15% !important;
}
.form1{
    width: 70% !important;
    margin-left: 20% !important;
}
td:hover{

}
.Next{
    margin-left: 30%;
    margin-bottom: 30px;
}
.account{
    margin-left: 47%;
}
.belowAccount{
    margin-left: 42%;
}
.image2 {
    width: 170px !important;
    height: 60px !important;
    margin-left: 45% !important;
}
